

td{
  padding:  5px;
}
td:not(:last-child){
    text-align: center;
}
table{
  border-collapse: collapse;
  width: 90%;
  margin:auto;
  font-size: 13px;
}
thead th{
  background-color: #ff742b;font-weight: bold;   padding:  5px;
  text-align: left;
}
tr:nth-child(odd) {background-color: #e9e9e9;}
.url{
  color:#717171;
  margin: 0 10px ;
  font-size: 12px;
}
.author{
  font-size: 12px;
}
.hide-btn{
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 5px
}
.page-btn{
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 5px;
  color: #ff742b;
  font-weight: bold;
}
tfoot{
  color: #ff742b;
  font-weight: bold;
}
tfoot td{text-align: right;}
.up-vote{
  cursor: pointer;
  color:#717171;
}
.loading{
  text-align: center;
  padding: 50px
}
.chart-container{
  width: 80%;
  margin: auto;
}